/* Colors:

Green: #B9BC28
Orange: #FF9754
Pink: #FE778B
Lt. Green: #ECE37C
Lt. Orange: #FBC734
Coral: #FF7993
Bright Pink: #EC6199
Dark Gray: #8B8B8B
Lt. Gray: B4B4B4


*/

.reactstrapContainer {
  height: 100%;
}

.navbar {
  height: 5rem;
  margin: 0;
}

.sidebar {
  height: 27rem;
}


.footer {
  height: 2rem;
}
