.reactstrapContainer {
  height: 100%;
}

.navbar {
  background-color: lightblue;
  height: 5rem;
}

.sidebar {
  background-color: lightcyan;
  height: 27rem;
}

.main {
  background-color: lightgrey;
}

.footer {
  background-color: lightyellow;
  height: 2rem;
}
