.reactstrapContainer {
  height: 100%;
}

.navbar {
  height: 5rem;
  margin: 0;
}

.sidebar {
  border: 2px solid black;
  height: 27rem;
}

.main {
  border: 2px solid black;
}

.footer {
  height: 2rem;
}
